email_organization_workflow.json
{
  "name": "Email Organization for Replies",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "options": {
            "filter": "AND",
            "conditions": [
              {
                "leftValue": "read",
                "rightValue": false,
                "operator": "="
              }
            ]
          }
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "options": {
            "filter": "AND",
            "conditions": [
              {
                "leftValue": "isRead",
                "rightValue": false,
                "operator": "="
              }
            ]
          }
        }
      },
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 1,
      "position": [240, 500]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "gmail"
            }
          ]
        }
      },
      "name": "Add Gmail Source",
      "type": "@n8n/n8n-nodes-langchain.set",
      "typeVersion": 3.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "outlook"
            }
          ]
        }
      },
      "name": "Add Outlook Source",
      "type": "@n8n/n8n-nodes-langchain.set",
      "typeVersion": 3.2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "name": "Merge Emails",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "groupBy": "source",
        "aggregate": "count"
      },
      "name": "Group by Source",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "subject": "Unread Emails Summary - {{$now.format('YYYY-MM-DD')}}",
        "message": "=Total unread emails: {{$json.count}}\n\nGmail: {{$json.groups.gmail || 0}}\nOutlook: {{$json.groups.outlook || 0}}\n\n{{$json.items.map(item => `- ${item.source}: ${item.subject} from ${item.from}`).join('\\n')}}"
      },
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 3.1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Add Gmail Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Add Outlook Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Gmail Source": {
      "main": [
        [
          {
            "node": "Merge Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Outlook Source": {
      "main": [
        [
          {
            "node": "Merge Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Emails": {
      "main": [
        [
          {
            "node": "Group by Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Source": {
      "main": [
        [
          {
            "node": "Send Summary Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["email", "organization", "replies"]
}
